$globalHeight: 100%;
$globalWidth: 100%;
$mainBackGroundColor: #eeeeee;
$lightCreamColor: #dfdfdf;

html {
  font-size: 15px;
  height: 100vh;
}

body {
  margin: 0;
  height: $globalHeight;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    height: $globalHeight;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-main {
  height: $globalHeight - 1%;
  text-align: center;
  background-color: $mainBackGroundColor;

  .sidebar-main {
    display: flex;
    flex-direction: row;
    height: $globalHeight;
    background-color: white;

    .no-sidebar {
      width: $globalWidth !important;
    }

    .sidebar-children {
      position: absolute;
      right: 0;
      transition: all 0.25s;
      width: calc($globalWidth - 240px);
      height: $globalHeight;
      background-color: white;

      .antd-button {
        display: flex;
        align-items: center;
        align-self: center;
        font-size: 1.1rem;
        font-weight: 600;
        padding: 2px 18px;
        height: $globalHeight - 12%;

        .antd-icon {
          padding-right: 12px;
          padding-bottom: 2.5px;
          font-size: 1.2rem;
        }
      }
    }

    .sidebar-inner {
      height: $globalHeight;
      width: $globalWidth;
    }

    .open-sidebar {
      min-width: 240px !important;
      padding: 30px 5px;
      border-right: 1px solid $lightCreamColor;
      position: fixed;
      transition: all 0.25s;
      width: 240px;
    }

    .antd-menu {
      font-size: medium;
      border: 0px;
    }

    .profile-icon-outer {
      display: flex;
      flex-direction: column;
      padding: 0px 15px;
      align-items: center;

      .profile-name {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-bottom: 20px;

        .profile-text {
          font-size: medium;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .profile-icon-default {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: xx-large;
        background-color: #f56a00;
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
        border-radius: 100px;
      }

      .profile-icon {
        display: flex;
        align-items: center;
        font-size: xx-large;
        width: 90px;
        height: 90px;
        margin-bottom: 20px;
        border-radius: 100px;
      }

      .profile-icon-skeleton {
        margin-bottom: 23px;
      }

      .profile-name-skeleton {
        display: flex;
        flex-direction: column;
        width: calc($globalWidth - 15%);
        justify-content: space-between;
        padding-bottom: 15px;
        gap: 7px;
      }
    }
  }

  .flex-center-and-middle {
    height: $globalHeight;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .login-form {
    margin: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 55px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 1em;

    input[type="text"],
    input[type="password"] {
      height: 40px;
      font-size: medium;
    }

    .login-button {
      margin-top: 30px;
      width: $globalHeight;
      height: 40px;
      font-weight: bold;
      font-size: 16px;
    }

    .big-text {
      font-weight: bold;
      font-size: xx-large;
      text-align: left;
      margin-bottom: 45px;
    }

    .login-divider {
      border-color: black !important;
      font-size: larger;
      margin-top: 45px !important;
    }

    .large-font-size {
      font-size: 23.5px !important;
    }
  }

  .google-button {
    display: flex;
    margin-top: 25px;
    padding: 25px 35px !important;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }

  .antd-icon {
    padding-right: 10px;
    font-size: large;
  }

  .flex-end {
    display: flex;
    justify-content: flex-end;
  }

  .margin-top-8 {
    margin-top: 8px;
  }

  .margin-top-64 {
    margin-top: 64px;
  }

  .form-item-textbox {
    margin-bottom: 32px;
    text-align: left;
  }

  .margin-bottom-0 {
    margin-bottom: 0px;
  }

  .margin-bottom-6 {
    margin-bottom: 6px;
  }

  .antd-big-icon {
    font-size: larger;
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }
}

.gray-text {
  color: #686868;
}

.ant-form-item-explain-error {
  margin-top: 7px;
  margin-bottom: 15px;
}

.ant-notification-notice {
  margin-bottom: 0px !important;
  padding-top: 15px !important;
  padding-bottom: 9px !important;

  .ant-notification-notice-close {
    top: 15px !important;
    right: 13px !important;
  }
}
