$globalHeight: 100%;
$globalWidth: 100%;

.students-main {
  display: flex;
  align-self: flex-start;
  height: $globalHeight;
  width: $globalWidth;

  .header {
    width: $globalWidth;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 15px 25px;
    background-color: white;

    .header-title {
      display: flex;

      .menu-icon {
        display: flex;
        align-items: center;
        width: 1.9rem;
      }

      .title {
        margin-left: 17px;
        font-weight: bold;
        font-size: x-large;
        align-self: center;
      }

      .back-icon {
        display: flex;
        align-items: center;
        width: 1.9rem;
        margin-right: -10px;
      }
    }

    .login-form {
      margin: 10px;
      display: flex;
      flex-direction: column;
      padding-top: 55px;
      padding-bottom: 40px;
      padding-left: 60px;
      padding-right: 60px;
      border-radius: 1em;
    }
  }

  .antd-form-outer {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    max-width: 450px;

    .form-item-textbox {
      margin-bottom: 32px;
      text-align: left;

      input[type="text"] {
        height: 30px;
        font-size: medium;
      }
    }

    .button {
      font-size: 1.1rem;
      font-weight: 600;
      width: $globalWidth - 70%;
      padding: 2px 0px;
      height: 35px;
    }
  }

  .antd-table-main {
    display: flex;
    flex-direction: column;
    padding: 0 17px;

    .ant-table-cell {
      font-size: medium;
    }
  }

  .search {
    display: flex;
    align-items: center;
    padding: 20px;

    .search-textbox {
      display: flex;
      width: 250px;
      margin-right: 20px;
      height: 35px;
    }
  }
}
