html {
  font-size: 15px;
}

.App {
  text-align: center;
}

.center-and-middle {
  background-color: #eeeeee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 500px;
  background-color: #ffffff;
  padding-top: 55px;
  padding-bottom: 40px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 1em;
}

input[type="text"],
input[type="password"] {
  height: 40px;
  font-size: medium;
}

.antd-icon {
  padding-right: 10px;
  font-size: large;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.margin-top-40 {
  margin-top: 40px;
}

.login-button {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
}

.reset-button {
  margin-top: 30px;
  width: 100%;
  height: 40px;
  font-weight: bold;
  font-size: 16px;
}

.big-text {
  font-weight: bold;
  font-size: xx-large;
  text-align: left;
  margin-bottom: 45px;
}

.form-item-textbox {
  margin-bottom: 30px;
  text-align: left;
}

.ant-form-item-explain-error {
  margin-top: 7px;
  margin-bottom: 15px;
}

.ant-notification-notice {
  margin-bottom: 0px !important;
  padding-top: 15px !important;
  padding-bottom: 9px !important;
}

.ant-notification-notice-close {
  top: 15px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px;
}

.login-divider {
  border-color: black !important;
  font-size: larger;
  margin-top: 45px !important;
}

.antd-big-icon {
  font-size: larger;
}

.google-button {
  display: flex;
  margin-top: 25px;
  padding: 25px 35px !important;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.large-font-size {
  font-size: 23.5px !important;
}
